---
title: Over us
layout: blankPageLayout
permalink: "/about-us/"
---

    <!-- MAIN SECTION -->
    <section class="mainContent full-width clearfix aboutSection">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-push-6 col-xs-12">
            <img src="{{ site.data.global.url }}/assets/img/about_us/main.jpg" alt="image" class="img-responsive img-rounded">
          </div>
          <div class="col-sm-6 col-sm-pull-6 col-xs-12">
            <div class="schoolInfo">
              <h2>About Stuckytoys</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <p class="color-3">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
              <ul class="list-unstyled para-list">
                <li><i class="fa fa-check" aria-hidden="true"></i> Vestibulum iaculis quam ac libero volutpat placerat.</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Phasellus sit amet risus fringilla, aliquet lacus vel, suscipit lorem.</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Etiam suscipit velit et tellus bibendum interdum.</li>
              </ul>              
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- MEET OUR TEAM -->
    <section class="whiteSection full-width clearfix">
      <div class="container">
        <div class="sectionTitle text-center">
          <h2>
            <span class="shape shape-left bg-color-4"></span>
            <span>Meet Our Team</span>
            <span class="shape shape-right bg-color-4"></span>
          </h2>
        </div>
          
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="teamContent">
              <div class="teamImage">
              <img src="{{ site.data.global.url }}/assets/img/home/team/team-1.jpg" alt="img" class="img-circle img-responsive">
                <div class="maskingContent">
                  <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="teamInfo teamTeacher">
                <h3><a href="teachers-details.html">Nik Lippens</a></h3>
                <p>The guru</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="teamContent">
              <div class="teamImage">
              <img src="{{ site.data.global.url }}/assets/img/home/team/team-2.jpg" alt="img" class="img-circle img-responsive">
                <div class="maskingContent">
                  <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="teamInfo teamTeacher">
                <h3><a href="teachers-details.html">Steven Colin</a></h3>
                <p>The marketeer</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="teamContent">
              <div class="teamImage">
              <img src="{{ site.data.global.url }}/assets/img/home/team/team-3.jpg" alt="img" class="img-circle img-responsive">
                <div class="maskingContent">
                  <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="teamInfo teamTeacher">
                <h3><a href="teachers-details.html">Kris Lacage</a></h3>
                <p>The nerd</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>