  <!-- BANNER -->
    <section class="bannercontainer bannercontainerV2">
      <div class="fullscreenbanner-container">
        <div class="fullscreenbanner">
          <ul>

            <li data-transition="fade" data-slotamount="5" data-masterspeed="300" data-title="kidz_slide_1">
              <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/slider-bg1.png"  alt="slidebg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="repeat">
              <div class="slider-caption container">

                <!-- LAYER NR. 1 -->
                <div class="tp-caption rs-caption-1 sft"
                  data-hoffset="0"
                  data-x="right"
                  data-y="170"
                  data-speed="1200"
                  data-start="1600"
                  data-easing="Back.easeInOut"
                  data-endspeed="300"
                  style="z-index: 5;">
                  1Get Kidz For Your <span>Store</span>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption rs-caption-2 sft"
                  data-hoffset="0"
                  data-x="right"
                  data-y="245"
                  data-speed="1800"
                  data-start="2000"
                  data-easing="Back.easeInOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off"
                  style="z-index: 5;">
                  2Kidz Template has all the features need to run an ecommerce website.
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption rs-caption-3 sft"
                  data-hoffset="0"
                  data-x="right"
                  data-y="355"
                  data-speed="2000"
                  data-start="3000"
                  data-easing="Power4.easeOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off"
                  style="z-index: 5;">
                  <a href="#" class="btn btn-primary">3purchase</a>
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme sfb stt " 
                  data-x="-50" 
                  data-y="130" 
                  data-speed="500"
                  data-easing="Power1.easeIn"
                  data-endeasing="Power1.easeInOut"
                  data-endspeed="200"
                  style="z-index: 2;">
                  4<img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption-img1.png" alt="caption" width="658" height="309"> 
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption tp-resizeme sft stt" 
                  data-x="270" 
                  data-y="44" 
                  data-speed="1000"
                  data-easing="Power1.easeIn"
                  data-endspeed="300"
                  style="z-index: 1;">
                  5<img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption2.png" alt="caption" width="53" height="54"> 
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption tp-resizeme sfr str" 
                  data-x="420" 
                  data-y="190" 
                  data-speed="1200"
                  data-easing="Power1.easeIn"
                  data-endspeed="300"
                  style="z-index: 1;">
                  6<img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption3.png" alt="caption" width="62" height="54"> 
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption tp-resizeme sfl stl" 
                  data-x="90" 
                  data-y="190" 
                  data-speed="1200"
                  data-easing="Power1.easeIn"
                  data-endspeed="300"
                  style="z-index: 1;">
                  7<img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption7.png" alt="caption" width="63" height="73"> 
                </div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption tp-resizeme sfl stl" 
                  data-x="90" 
                  data-y="390" 
                  data-speed="1200"
                  data-easing="Power0.easeInOut (linear)"
                  data-endspeed="300"
                  style="z-index: 1;">
                  8<img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption6.png" alt="caption" width="51" height="59"> 
                </div>

                <!-- LAYER NR. 9 -->
                <div class="tp-caption tp-resizeme sfr str" 
                  data-x="420" 
                  data-y="390" 
                  data-speed="1200"
                  data-easing="Power0.easeInOut (linear)"
                  data-endspeed="300"
                  style="z-index: 1;">
                  9<img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption4.png" alt="caption" width="56" height="56"> 
                </div>

                <!-- LAYER NR. 10 -->
                <div class="tp-caption tp-resizeme sfb stb" 
                  data-x="270" 
                  data-y="460" 
                  data-speed="1500"
                  data-easing="Power1.easeIn"
                  data-endspeed="300"
                  style="z-index: 1;">
                  10<img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption5.png" alt="caption" width="75" height="62"> 
                </div>

              </div>
            </li>

            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="kidz_slide_2">
              <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/slider-bg1.png"  alt="slidebg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="repeat">
              <div class="slider-caption container">

                <!-- LAYER NR. 1 -->
                <div class="tp-caption rs-caption-1 sft"
                  data-hoffset="0"
                  data-y="170"
                  data-speed="1200"
                  data-start="1600"
                  data-easing="Back.easeInOut"
                  data-endspeed="300"
                  style="z-index: 5;">
                  Get Kidz For Your <span>Store</span>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption rs-caption-2 sft"
                  data-hoffset="0"
                  data-y="245"
                  data-speed="1800"
                  data-start="2000"
                  data-easing="Back.easeInOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off"
                  style="z-index: 5;">
                  Kidz Template has all the features need to run an ecommerce website.
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption rs-caption-3 sft"
                  data-hoffset="0"
                  data-y="355"
                  data-speed="2000"
                  data-start="3000"
                  data-easing="Power4.easeOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off"
                  style="z-index: 5;">
                  <a href="#" class="btn btn-primary">purchase</a>
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme sft stt " 
                  data-x="right" 
                  data-hoffset="-100"
                  data-y="100" 
                  data-speed="500"
                  data-easing="Power1.easeIn"
                  data-endeasing="Power1.easeInOut"
                  data-endspeed="200"
                  style="z-index: 2;">
                  <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption-img2.png" alt="caption" width="405" height="417"> 
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption tp-resizeme start" 
                  data-x="170" 
                  data-y="34" 
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption8.png" alt="caption" width="71" height="82"> 
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption tp-resizeme sfl stl" 
                  data-x="left"
                  data-hoffset="-90" 
                  data-y="100" 
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption6.png" alt="caption" width="51" height="59"> 
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption tp-resizeme start" 
                  data-x="left"
                  data-hoffset="-70" 
                  data-y="bottom"
                  data-voffset="-170" 
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption9.png" alt="caption" width="77" height="50"> 
                </div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption tp-resizeme start" 
                  data-x="center" 
                  data-y="center"
                  data-voffset="100" 
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption12.png" alt="caption" width="66" height="55"> 
                </div>

                <!-- LAYER NR. 9 -->
                <div class="tp-caption tp-resizeme sfr str" 
                  data-x="right" 
                  data-hoffset="-270" 
                  data-y="34" 
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption13.png" alt="caption" width="65" height="65"> 
                </div>

                <!-- LAYER NR. 10 -->
                <div class="tp-caption tp-resizeme sfr str" 
                  data-x="right"
                  data-hoffset="-70"  
                  data-y="100" 
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption10.png" alt="caption" width="73" height="56"> 
                </div>

                <!-- LAYER NR. 11 -->
                <div class="tp-caption tp-resizeme sfb stb" 
                  data-x="right"
                  data-hoffset="-70"  
                  data-y="bottom"
                  data-voffset="-170" 
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption11.png" alt="caption" width="61" height="67"> 
                </div>

              </div>
            </li>

            <li data-transition="fade" data-slotamount="5" data-masterspeed="700"  data-title="kidz_slide_3">
              <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/slider-bg1.png"  alt="slidebg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="repeat">
              <div class="slider-caption container">

                <!-- LAYER NR. 1 -->
                <div class="tp-caption rs-caption-1 sft"
                  data-hoffset="0"
                  data-y="170"
                  data-speed="1200"
                  data-start="1600"
                  data-easing="Back.easeInOut"
                  data-endspeed="300"
                  style="z-index: 5;">
                  Get Kidz For Your <span>Store</span>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption rs-caption-2 sft"
                  data-hoffset="0"
                  data-y="245"
                  data-speed="1800"
                  data-start="2000"
                  data-easing="Back.easeInOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off"
                  style="z-index: 5;">
                  Kidz Template has all the features need to run an ecommerce website.
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption rs-caption-3 sft"
                  data-hoffset="0"
                  data-y="355"
                  data-speed="2000"
                  data-start="3000"
                  data-easing="Power4.easeOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off"
                  style="z-index: 5;">
                  <a href="#" class="btn btn-primary">purchase</a>
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme sfr" 
                  data-x="right"
                  data-hoffset="50" 
                  data-y="50" 
                  data-speed="500"
                  data-easing="Power1.easeIn"
                  data-endeasing="Power1.easeInOut"
                  data-endspeed="200"
                  style="z-index: 2;">
                  <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption-img3.png" alt="caption" width="731" height="634"> 
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption tp-resizeme sfb stb" 
                  data-x="left" 
                  data-y="0" 
                  data-speed="1000"
                  data-easing="Power1.easeIn"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/pattern-dark.png" alt="caption" width="1640" height="527"> 
                </div>
              </div>
            </li>

            <li data-transition="fade" data-slotamount="5" data-masterspeed="700"  data-title="kidz_slide_4">
              <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/slider-bg1.png"  alt="slidebg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="repeat">
              <div class="slider-caption container">

                <!-- LAYER NR. 1 -->
                <div class="tp-caption rs-caption-1 sft text-center"
                  data-hoffset="0"
                  data-x="center"
                  data-y="170"
                  data-speed="1200"
                  data-start="1600"
                  data-easing="Back.easeInOut"
                  data-endspeed="300"
                  style="z-index: 5;">
                  Get Kidz For Your <span>Store</span>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption rs-caption-2 sft text-center"
                  data-hoffset="0"
                  data-x="center"
                  data-y="245"
                  data-speed="1800"
                  data-start="2000"
                  data-easing="Back.easeInOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off"
                  style="z-index: 5;">
                  Kidz Template has all the features need to run an ecommerce website.
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption rs-caption-3 sft text-center"
                  data-hoffset="0"
                  data-x="center"
                  data-y="355"
                  data-speed="2000"
                  data-start="3000"
                  data-easing="Power4.easeOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off"
                  style="z-index: 5;">
                  <a href="#" class="btn btn-primary">purchase</a>
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme sfl stl" 
                  data-x="left"
                  data-hoffset="-70" 
                  data-y="100" 
                  data-speed="500"
                  data-easing="Power1.easeIn"
                  data-endeasing="Power1.easeInOut"
                  data-endspeed="200"
                  style="z-index: 2;">
                  <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption-img5.png" alt="caption" width="580" height="491"> 
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption tp-resizeme sfr str" 
                  data-x="right" 
                  data-hoffset="100" 
                  data-y="100" 
                  data-speed="500"
                  data-easing="Power1.easeIn"
                  data-endeasing="Power1.easeInOut"
                  data-endspeed="300"
                  style="z-index: 2;">
                  <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption-img4.png" alt="caption" width="567" height="564"> 
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption tp-resizeme start" 
                  data-x="170" 
                  data-y="34" 
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption8.png" alt="caption" width="71" height="82"> 
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption tp-resizeme sfl stl" 
                  data-x="left"
                  data-hoffset="-90" 
                  data-y="100" 
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption6.png" alt="caption" width="51" height="59"> 
                </div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption tp-resizeme sfr str" 
                  data-x="right" 
                  data-hoffset="-270" 
                  data-y="34" 
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption13.png" alt="caption" width="65" height="65"> 
                </div>

                <!-- LAYER NR. 9 -->
                <div class="tp-caption tp-resizeme sfr str" 
                  data-x="right"
                  data-hoffset="-70"  
                  data-y="100" 
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption10.png" alt="caption" width="73" height="56"> 
                </div>

                <!-- LAYER NR. 10 -->
                <div class="tp-caption tp-resizeme start" 
                  data-x="center"
                  data-hoffset="-180" 
                  data-y="center"
                  data-voffset="50" 
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption9.png" alt="caption" width="77" height="50"> 
                </div>

                <!-- LAYER NR. 11 -->
                <div class="tp-caption tp-resizeme start" 
                  data-x="center" 
                  data-y="center"
                  data-voffset="100" 
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption12.png" alt="caption" width="66" height="55"> 
                </div>

                <!-- LAYER NR. 12 -->
                <div class="tp-caption tp-resizeme sfb stb" 
                  data-x="center"
                  data-hoffset="180"  
                  data-y="center"
                  data-voffset="50" 
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="{{ site.data.global.url }}/assets/img/home/sliderV2/caption11.png" alt="caption" width="61" height="67"> 
                </div>

              </div>
            </li>

          </ul>
        </div>
      </div>
    </section>