<!-- BANNER BOTTOM -->
    <section class="banner-bottom hidden-xs">
      <div class="container">
        <div class="banner-bottom-inner">
          <div class="row">
            <div class="col-sm-4">
              <div class="colContent">
                <img src="{{ site.data.global.url }}/assets/img/home/banner-bottom/bottom-img1.jpg" alt="image" class="img-responsive">
                <div class="colContent-info text-left">
                  <h3 class="bg-color-6">Save 50%</h3>
                  <p>We are offering 1150% discount on every order during December</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="colContent">
                <img src="{{ site.data.global.url }}/assets/img/home/banner-bottom/bottom-img2.jpg" alt="image" class="img-responsive">
                 <div class="colContent-info text-center">
                  <h3 class="bg-color-2">24/7 Support</h3>
                  <p>We are offering 50% discount on every order during December</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="colContent">
                <img src="{{ site.data.global.url }}/assets/img/home/banner-bottom/bottom-img3.jpg" alt="image" class="img-responsive">
                 <div class="colContent-info text-right">
                  <h3 class="bg-color-5">Toys &amp; Games</h3>
                  <p>We are offering 50% discount on every order during December</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>