
{% include header.html %}

  <!--include banner2.html-->
  {{content}}

    

    {% include copyright.html %}
     <!--include footer.html-->

  <div class="scrolling">
    <a href="#pageTop" class="backToTop hidden-xs" id="backToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
  </div>

  <!-- LOGIN MODAL -->
  <div class="modal fade customModal" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="panel panel-default formPanel">
          <div class="panel-heading bg-color-1 border-color-1">
            <h3 class="panel-title">Login</h3>
          </div>
          <div class="panel-body">
            <form action="#" method="POST" role="form">
              <div class="form-group formField">
                <input type="text" class="form-control" placeholder="User name">
              </div>
              <div class="form-group formField">
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <div class="form-group formField">
                <input type="submit" class="btn btn-primary btn-block bg-color-3 border-color-3" value="Log in">
              </div>
              <div class="form-group formField">
                <p class="help-block"><a href="#">Forgot password?</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CREATE ACCOUNT MODAL -->
  <div class="modal fade customModal" id="createAccount" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="panel panel-default formPanel">
          <div class="panel-heading bg-color-1 border-color-1">
            <h3 class="panel-title">Create  an account</h3>
          </div>
          <div class="panel-body">
            <form action="#" method="POST" role="form">
              <div class="form-group formField">
                <input type="text" class="form-control" placeholder="Name">
              </div>
              <div class="form-group formField">
                <input type="text" class="form-control" placeholder="User name">
              </div>
              <div class="form-group formField">
                <input type="text" class="form-control" placeholder="Phone">
              </div>
              <div class="form-group formField">
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <div class="form-group formField">
                <input type="password" class="form-control" placeholder="Re-Password">
              </div>
              <div class="form-group formField">
                <input type="submit" class="btn btn-primary btn-block bg-color-3 border-color-3" value="Register">
              </div>
              <div class="form-group formField">
                <p class="help-block">Allready have an account? <a href="#">Log in</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PORDUCT QUICK VIEW MODAL -->
  <div class="modal fade quick-view" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="container-fluid">
          <div class="row">

            <div class="col-md-6 col-sm-7 col-xs-12">
              <div class="product-gallery text-center">
                <img src="{{ site.data.global.url }}/assets/img/single-product/preview01.jpg" alt="Product" class="img-responsive">
              </div>
            </div>

            <div class="col-md-6 col-sm-5 col-xs-12">
              <div class="product-info">
                <h1 class="product-title">Barbie Racing Car</h1>
                <div class="price">
                  <span>$50</span>
                  <span><del>$60</del></span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                <div class="add-cart">
                  <div class="count-input">
                    <input class="quantity btn-primary" type="text" value="1">
                    <a class="incr-btn incr-up" data-action="decrease" href="#"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                    <a class="incr-btn incr-down" data-action="increase" href="#"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                  </div>
                  <a href="cart-page.html" class="add-to-cart btn btn-primary">Add to Cart</a>
                </div>

              </div>
            </div>
              
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ site.data.global.url }}/assets/plugins/jquery-ui/jquery-ui.js"></script>
  <script src="{{ site.data.global.url }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ site.data.global.url }}/assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
  <script src="{{ site.data.global.url }}/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
  <script src="{{ site.data.global.url }}/assets/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
  <script src="{{ site.data.global.url }}/assets/plugins/owl-carousel/owl.carousel.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
  <script src="{{ site.data.global.url }}/assets/plugins/counter-up/jquery.counterup.min.js"></script>
  <script src="{{ site.data.global.url }}/assets/plugins/isotope/isotope.min.js"></script>
  <script src="{{ site.data.global.url }}/assets/plugins/isotope/jquery.fancybox.pack.js"></script>
  <script src="{{ site.data.global.url }}/assets/plugins/isotope/isotope-triger.js"></script>
  <script src="{{ site.data.global.url }}/assets/plugins/countdown/jquery.syotimer.js"></script>
  <script src="{{ site.data.global.url }}/assets/plugins/velocity/velocity.min.js"></script>
  <script src="{{ site.data.global.url }}/assets/plugins/smoothscroll/SmoothScroll.js"></script>
  <script src="{{ site.data.global.url }}/assets/js/custom.js"></script>

</body>

</html>

