{% include header.html %}

		<!--=== Breadcrumbs ===-->
		<div class="breadcrumbs">
			<div class="container">
				<h1 class="pull-left">Onze vertelinstrumenten</h1>
				<ul class="pull-right breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li><a href="">Vertelinstrumenten</a></li>
					<li class="active">De Bus</li>
				</ul>
			</div>
		</div><!--/breadcrumbs-->
		<!--=== End Breadcrumbs ===-->

		<!--=== Content Part ===-->
		<div class="container content">
			<div class="row margin-bottom-40">
				<div class="col-md-6">
					<h2 class="title-v2">De Bus</h2>
					<p>{{ content }}</p>
					<p>Facer summo eu nec. Eam cu noluisse complectitur, sea te consul graeco commodo. Ea epicuri suavitate pri, quot debitis est ne. Vide volutpat ne vim.</p><br>
					<a href="javascript:alert('open PDF + send confirmation mail')" class="btn-u"><i class="fa fa-cloud-download"></i> Download</a>
				</div>
				<div class="col-md-6">
					<img class="img-responsive" src="{{ site.data.global.url }}/assets/img/custom/bus_dromenland.jpg" width="555" height="358" alt="">
				</div>
			</div>

			<div class="call-action-v1 call-action-v1-boxed tag-box-v2">
				<div class="call-action-v1-box">
					<div class="call-action-v1-in">
						<h3 class="color-darker"><strong>Wedstrijd</strong></h3>
						<p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.</p>
					</div>	
					<div class="call-action-v1-in inner-btn page-scroll">
						<a href="participate.html" class="btn-u btn-u-md">Neem deel</a>
					</div>		
				</div>
			</div>

		</div><!--/container-->
		<!--=== End Content Part ===-->

{% include footer.html %}